body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .title {
      font-size: 16px;
      font-weight: 700;
    }

    .lib-item {
      border: 1px solid #ccc;
      padding: 8px 12px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
    }
  }

  .test-title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
  }

  .background {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
  }
}
