body {
  .wrapper {
    display: flex;
    gap: 12px;

    .title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    .lib-item {
      border: 1px solid #ccc;
      padding: 8px 12px;
      background-color: #fff;
    }
  }
}
